<div class="container-fluid"> 
  <div class="container-fluid manga-title-index mb-5">
    <div class="container-fluid opacity-img">
      <h2 class='text-center pt-5'> Echange des mangas </h2>
      <h4 class='text-center'> Ajoute les mangas que tu souhaites partager dans ta <b>Bibliothèque</b> <br> et ceux que tu recherches dans ta <b>Wishlist</b>. Reçois des alertes lors de matchs. </h4>
      <%= render "shared/searchbar" %>
    </div>
  </div>

  <%= render 'mangaCard2'%>

</div>
