Salut <%= @username %> et bienvenue chez nous !

 C'est avec fierté que nous t'annoçons que tu as un match avec <%= @item.user.name %> (<%= @item.user.email %>).
 
 Fais lui savoir que tu souhaites son manga en cliquant <a href="kasu-herokuapp.com/library_items/<%= @item.id %>">ici</a> !
 

À très vite sur vite sur kasu-heroku.com 



À très vite sur monsite.fr !