<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
        *******************************************
    </p>
    <h1>Salut <%= @username %> !</h1>
    <h3>
        Bonne nouvelle ! 
    </h3>
     <p>
        <strong><%= @item.user.name.capitalize %></strong> vient d'accepter ta demande d'échange concernant du manga : <%= @item.manga.title.capitalize %> !
    </p>
     <p>
        Tu as été débité d'un token, tu n'as plus qu'à attendre ton livre !
    </p>
    <br/>

    <p> À très vite sur vite sur <%= @url %> ! </p>
      <p>
       ********************************************
    </p>
  </body>
</html>