<div class="container-fluid"> 
  <div class="container-fluid manga-title-index mb-5">
    <div class="container-fluid opacity-img">
      <h2 class='text-center pt-5'>La Bibliothèque des utilisateurs </h2>
      <h4 class='text-center'> Sélectionne les Mangas disponibles à l'échange et fais ta demande auprès des possesseurs </h4>
      <%= render "shared/libsearchbar" %>
    </div>
  </div>

  <%= render 'libraryItemsCard'%>
  
</div> 