img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 30%; border-right:1px solid #c4c4c4;
  height: 100vh;
}
.inbox_msg {
  border-top: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  font-size: 21px;
  margin: auto;
}

.chat_ib h5{ font-size:17px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img_container {
  float: left;
  width: 11%; 
}

.chat_img{ 
  background-size: cover;
  display: block;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
}

.chat_ib {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 100vh; overflow-y: scroll;}

.active_chat:hover{ 
  background:#ebebeb;
  text-decoration: none;
  color: #3b3b3b;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #3b3b3b none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 50%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 70%;
 height: 100vh;
}

 .sent_msg p {
  background: #c9c9c9 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:rgb(0, 0, 0);
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 50%;
}
.input_msg_write .write_msg{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  resize : none;
  border: none;
  outline: none;
}

.chat_ib .btn-outline-primary{
  color: white;
}

.container_msg_write{
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #c90f0f;
  padding-top: 15px;
}

.container_msg_write .btn{
  margin-left: 10px;
}

.messaging { 
  padding: 0 0 50px 0;
  
}
.msg_history {
  height: 75vh;
  overflow-y: auto;
}

.chat-container{
  height: 100vh;
}

#chat_focus{
  background-color: #383838;
}

#chat_focus h5{
  color: #ffffff;
  text-decoration: none;
}

#chat_focus h5:hover{
  text-decoration: none;
}